.view {
   background : url("../assets/img/panama.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    
}

h2{
font-size: 58px;
text-align: left;
//font-family:'Times New Roman', Times, serif;
}
h5{
    font-size: 25px; 
    text-align: left; 
    font-family:'Times New Roman', Times, serif;

}
h6{
    font-size: 18px;  
}
li{
    font-size: 17px;
    position: relative;
    padding-left: 31px;
}



